if content
	each el in content.projects.items
		if el.id == content.key
			.Inshort(class="[ Element ]")
				.Inshort__body
					.Columns__marginal
						span= "Projekt " + el.ressort
					.Columns__back
						a.Button.Button--back(href="/de/"+el.ressort+"/")
							span Zurück zur<br/>Übersicht
					.Inshort__spacer
					.Inshort__intro.Inshort__intro--copy
						.Heading.Heading--major.Heading--large
							span= el.content.subtitle
							h2= el.content.title
						.Copy.Copy--colored
							p= el.content.intro
					.Inshort__copy
						if el.content.copy
							.Copy
								each item in el.content.copy
									p= item
